<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/customers/register">New Registration</a>
    <table border="1" style="width: 50%;">
        <tr>
            <td>Identity Number</td>
            <td>Full Name</td>
            <td>Action</td>
        </tr>
        <% customers.forEach(el => { %>
            <tr>
                <td><%= el.identityNumber %></td>
                <td><%= el.fullName %></td>
                <td><a href="/customers/<%= el.id %>/accounts">View Account</a> || <a href="/customers/<%= el.id %>/editProfile">Edit Profile</a></td>
            </tr>
        <% }) %>
    </table>
</body>
</html>